<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 contato bg-default">
            <div class="row">                
                <div class="col-lg-6 col-12 fale-conosco">                            
                    <div class="row">
                        <div class="col-8 mx-auto mapa-contato text-center">
                            <h1 class="title text-left">Fale Conosco</h1>
                            <div style="display:block">
                                <div class="mapa">
                                    <div class="relative">
                                        <div class="absolute">
                                            <div *ngFor="let state of mapaData"  
                                            [ngClass]="{'active': state.selected}"
                                            class="{{ state.uf }}"
                                            [attr.data-label]="state.name" (click)="changeValueOfSelect(state.uf)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-11 mx-auto text-center mt-5 form">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Telefone">
                        </div>
                        <div class="form-group">
                            <textarea name="" class="form-control" id="" cols="30" rows="5" placeholder="Mensagem"></textarea>
                        </div>
                        <a href="#" class="btn-ages form-control">Enviar</a>                                                                                                                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="infos mx-auto font-koho">
    <div class="distributors-info" *ngFor="let distributor of  distributors">
        <div class="pt-3">
            <h6 class="text-uppercase"> {{ distributor.title }} </h6>
        </div>
        <p>
            <img src="./assets/icons/placeholder.svg" alt=""> 
            {{ distributor.logradouro }}
            <span class="d-block ml-4">{{ distributor.bairro }}</span>
        </p>
        <p>
            <img src="./assets/icons/call-answer.svg" alt=""> 
            {{ distributor.telefone }}
        </p>
        <p>
            <img src="./assets/icons/close-envelope.svg" alt="">            
            {{ distributor.email }}
        </p>
        <p>Atendimento em dias comerciais, de segunda à sexta-feira, de <a>{{ distributor.horario }} </a>(horário de Brasília).</p>
    </div>
</div>