@import "helpers";
@import "variables";
@import "components";

.contato {
    background-image: url(../../../assets/backgrounds/bg-contato.png);
    @include media-breakpoint-down(md) {
    //    background-color: $color-6;
       background-image: none;
    }
}
.fale-conosco {
    padding: 50px 0 0 0;

    @include media-breakpoint-down(md) {
        border-radius: 0 0 100% 100%/100px;
        background: $color-6;
    }
}
.form {
    @include media-breakpoint-down(md) {
        background: $color-2;
    }
}
input, textarea {
    border-radius: 8px;
    border: 1px solid $color-1;
    &:focus {
        border-color: inherit; 
        outline: 0;
        box-shadow: none;
    }
}
.btn-ages {
    padding: 15px 0 40px 0;
}



.bg-yellow {
    background-color: black;
}

.search-top {
    top: 0;
    width: 100%;
    left: 0;
    background: #fff;
}

.mapa-infos-right {
    padding: 40px 30px;
}

h1 {
    color: #000;
    font-size: 32px;
    letter-spacing: 1px;
}

h6 {
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
}

.infos::-webkit-scrollbar-track {
    background-color: #fff;
}

.infos::-webkit-scrollbar {
    width: 6px;
    background: $color-3;
}

.infos::-webkit-scrollbar-thumb {
    background: $color-3;
    border-radius: 100px;
}

.infos {
    background-color: #fff;
    box-shadow: -1px 3px 16px -2px rgba(0, 0, 0, 0.75);
    height: 280px;
    width: 320px;
    overflow: auto;
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: 1;
    text-align: left;
    padding: 0 20px;
    @include media-breakpoint-down(md) {
        left: 10px;
    }
    h6 {
        color: $color-3;
    }
     p {
        color: $color-7;
    }
    a {
        font-family: 'OpenSans-Bold';
    }
    img {
        width: 7%;
    }
}

.btn-warning-2 {
    color: #2c2c2c;
    background-color: transparent;
    border: 2px solid #2c2c2c;
    padding: 10px 0px;
}

.btn-warning-2:hover {
    color: $color-2;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
}

.seja {
    padding: 100px;

    h2 {
        font-family: McCainSunshinePro;
        color: #000;
        font-size: 48px;
    }
}

#box-mapa-brasil {
    background: $color-3;
}




div.mapa {
    /*border: 1px solid #000000;*/
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

div.mapa.debug {
    background: transparent url("/assets/mapa-brasil/map.svg") no-repeat center center;
    background-size: contain;
}

div.mapa .relative {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

div.mapa .absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    @include media-breakpoint-down(md) {
        left: -100px;
    }
}

div.mapa .absolute div {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 0.3s;
}

*[data-label]::before {
    content: attr(data-label);
    position: relative;
    background: #fff;
    color: #000;
    padding: 20px;
    box-shadow: 0 7px 15px -7px #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    font-size: 0.8em;
    z-index: 1001;
    left: 40%;
    top: 25px;
    white-space: pre;
    visibility: hidden;
}

/**[data-label]:after {
	content: "";
	background: url(../../../../src/assets/mapa-brasil/seta-label.svg) no-repeat center bottom;
}*/


div.mapa .absolute div:hover {
    transition: all 0.3s;
}

*[data-label]:hover:before,
*[data-label].active:before {
    visibility: visible;
}

.rr {
    background-image: url("/assets/mapa-brasil/map-rr.svg");
    width: 16.3%;
    height: 19.5%;
    top: -.5%;
    left: 23%;
    z-index: 12;
}
.ap {
    background-image: url("/assets/mapa-brasil/map-ap.svg");
    width: 13%;
    height: 17.2%;
    top: 0.9%;
    left: 48.3%;
    z-index: 13;
}
.am {
    background-image: url("/assets/mapa-brasil/map-am.svg");
    width: 46.5%;
    height: 31.5%;
    top: 7.5%;
    z-index: 10;
}
.pa {
    background-image: url("/assets/mapa-brasil/map-pa.svg");
    width: 32.3%;
    height: 32.5%;
    top: 6.5%;
    left: 38.2%;
    z-index: 11;
}
.ac {
    background-image: url("/assets/mapa-brasil/map-ac.svg");
    width: 19.5%;
    height: 10.3%;
    top: 31.7%;
    left: 1.1%;
    z-index: 14;
}
.ro {
    background-image: url("/assets/mapa-brasil/map-ro.svg");
    width: 18.9%;
    height: 14.6%;
    top: 34.0%;
    left: 18.6%;
    z-index: 15;
}
.to {
    background-image: url("/assets/mapa-brasil/map-to.svg");
    width: 13.4%;
    height: 22%;
    top: 26%;
    left: 58%;
    z-index: 16;
}
.ma {
    background-image: url("/assets/mapa-brasil/map-ma.svg");
    width: 18.4%;
    height: 24%;
    top: 16.3%;
    left: 63.1%;
    z-index: 17;
}
.pi {
    background-image: url("/assets/mapa-brasil/map-pi.svg");
    width: 14.4%;
    height: 22%;
    top: 19.5%;
    left: 70.1%;
    z-index: 18;
}
.ce {
    background-image: url("/assets/mapa-brasil/map-ce.svg");
    width: 12.4%;
    height: 13.5%;
    top: 20.5%;
    left: 80.8%;
    z-index: 17;
}
.rn {
    background-image: url("/assets/mapa-brasil/map-rn.svg");
    width: 10.6%;
    height: 7.7%;
    top: 25.0%;
    left: 88.0%;
    z-index: 20;
}
.pb {
    background-image: url("/assets/mapa-brasil/map-pb.svg");
    width: 11%;
    height: 7.6%;
    top: 28.1%;
    left: 87.5%;
    z-index: 21;
}
.pe {
    background-image: url("/assets/mapa-brasil/map-pe.svg");
    width: 16.2%;
    height: 7.2%;
    top: 31.3%;
    left: 82.0%;
    z-index: 22;
}
.al {
    background-image: url("/assets/mapa-brasil/map-al.svg");
    width: 8.3%;
    height: 7.6%;
    top: 34.1%;
    left: 89.2%;
    z-index: 23;
}
.se {
    background-image: url("/assets/mapa-brasil/map-se.svg");
    width: 6.3%;
    height: 6.4%;
    top: 36.5%;
    left: 88.5%;
    z-index: 24;
}
.ba {
    background-image: url("/assets/mapa-brasil/map-ba.svg");
    width: 23.5%;
    height: 25.7%;
    top: 34.8%;
    left: 68.5%;
    z-index: 25;
}
.mt {
    background-image: url("/assets/mapa-brasil/map-mt.svg");
    width: 29.5%;
    height: 29.7%;
    top: 31.7%;
    left: 30.8%;
    z-index: 30;
}
.mt:before {
    left: 5%;
    top: 60%;
}
.mt:hover,
.mt.active {
    background-image: url("/assets/mapa-brasil/map-mt-hover.svg");
}
.go {
    background-image: url("/assets/mapa-brasil/map-go.svg");
    width: 20.5%;
    height: 19%;
    top: 44.7%;
    left: 51.0%;
    z-index: 29;
}
.ms {
    background-image: url("/assets/mapa-brasil/map-ms.svg");
    width: 20.5%;
    height: 18%;
    top: 57%;
    left: 39%;
    z-index: 28;
}
.mg {
    background-image: url("/assets/mapa-brasil/map-mg.svg");
    width: 28.5%;
    height: 24%;
    top: 48.9%;
    left: 57.5%;
    z-index: 27;
}

.es {
    background-image: url("/assets/mapa-brasil/map-es.svg");
    width: 6.7%;
    height: 8.7%;
    top: 59.0%;
    left: 80%;
    z-index: 30;
}
.sp {
    background-image: url("/assets/mapa-brasil/map-sp.svg");
    width: 22%;
    height: 15.7%;
    top: 63%;
    left: 52%;
    z-index: 31;
}
.sp:before {
    left: 0%;
    top: -15%;
}
.sp:hover,
.sp.active {
    background-image: url("/assets/mapa-brasil/map-sp-hover.svg");
}
.rj {
    background-image: url("/assets/mapa-brasil/map-rj.svg");
    width: 11%;
    height: 6.4%;
    top: 66%;
    left: 72.4%;
    z-index: 32;
}
.rj:before {
    left: 90%;
    top: 40%;
}
.rj:hover,
.rj.active {
    background-image: url("/assets/mapa-brasil/map-rj-hover.svg");
}
.pr {
    background-image: url("/assets/mapa-brasil/map-pr.svg");
    width: 18%;
    height: 11.2%;
    top: 70.5%;
    left: 48.4%;
    z-index: 33;
}
.sc {
    background-image: url("/assets/mapa-brasil/map-sc.svg");
    width: 14%;
    height: 10.2%;
    top: 78.5%;
    left: 50.4%;
    z-index: 34;
}
.rs {
    background-image: url("/assets/mapa-brasil/map-rs.svg");
    width: 21%;
    height: 18.9%;
    top: 81.4%;
    left: 40.4%;
    z-index: 35;
}




