<div class="container-fluid">
    <div class="row">
        <div class="col-12 menu">
            <div class="row">
                <div class="col-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-1 col-10 mt-3 logo">
                            <div class="row">
                                <div class="col-lg-12 col-7 mx-auto">
                                    <a href="javascript:void(0)" routerLinkActive='active'routerLink='/home'>
                                        <img src='./assets/logos/ages-logo-white.svg' alt="logo-ages">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-1 mt-4">
                            <nav class="navbar navbar-expand-lg navbar-light circulo">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarText">
                                    <ul class="navbar-nav mr-auto bg-default">
                                        <li>
                                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/quemsomos' (click)="closeNav()">
                                                Quem Somos 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/solucoes' (click)="closeNav()">
                                                Soluções
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/cases' (click)="closeNav()">
                                                Cases
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/videos' (click)="closeNav()">
                                                Vídeos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/contato' (click)="closeNav()">
                                                Contato
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container-fluid">
    <div class="row menu">
      <div class="col-lg-3 col-md-6">
        <div class="logo">
          <a href="javascript:void(0)" routerLinkActive='active'
            routerLink='/home'>
            <img *ngIf="helper.navType !== 'nav-color'"
              src="./assets/logos/ages-logo-white.svg" alt="volt-logo">
            <img *ngIf="helper.navType == 'nav-color'"
              src="./assets/logos/ages-logo.svg" alt="volt-logo">
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-3"> -->
        <!--menu mobile-->
        <!-- <nav class="menu-mob mobile nav-fix" role="navigation" [ngClass]="{'nav-white':
        helper.navType == 'nav-color' }">
          <div id="menuToggle" >
            <input type="checkbox" class="check"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <a href="javascript:void(0)" (click)="closeNav()"
                routerLinkActive='active'
                routerLink='/home'>
                <img class="logo-menu-m" src="./assets/logos/ages-logo-white.svg"
                  alt="volt-logo">
              </a>
              <a href="javascript:void(0)" (click)="closeNav()"
                routerLinkActive='active'routerLink='/nos'>
                <li>Nós</li> <br/>
                </a>
                <a href="javascript:void(0)" (click)="closeNav()"
                  routerLinkActive='active'routerLink='/escritorios-personalizados'><li>Escritórios
                    Personalizados</li></a><br/>
  
                  <a href="javascript:void(0)" (click)="closeNav()"
                    routerLinkActive='active'
                    routerLink='/coworking'>
                    <li>Coworking</li><br/>
                    </a>
                        <a href="javascript:void(0)" (click)="closeNav()"
                          routerLinkActive='active'
                          routerLink='/contato'>
                          <li>Contato</li>
                        </a><br/>
                          <li>
                            <div class="login btn-menu-mobile w-100">
                              <a href="javascript:void(0)"
                                routerLinkActive='active' (click)="closeNav()"
                                routerLink='/contato'>
                                Entrar em Contato
                              </a>
                            </div>
                          </li><br/>
                            <li>
                            </li>
                          </ul>
                        </div>
                      </nav> -->
  
                      <!--MENU VOLT-->
                      <!-- <nav [ngClass]="{'nav-white': helper.navType == 'nav-color'
                        }">
                        <ul class="desktop">
  
                          <a href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/nos'>
                            <li>Nós</li>
                          </a>
                          <a href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/escritorios-personalizados'>
                            <li>Escritórios Personalizados</li>
                          </a>
                          <a href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/coworking'>
                            <li>Coworking</li>
                          </a>
                          <a href="javascript:void(0)" routerLinkActive='active'
                            routerLink='/contato'>
                            <li>Contato</li>
                          </a>
                        </ul>
                      </nav>
                    </div>
                    <div class="col-lg-2 mx-auto">
                      <div class="login desktop" [ngClass]="{'btn-solid':
                        helper.navType == 'nav-color' }">
                        <a href="javascript:void(0)" routerLinkActive='active'
                          routerLink='/contato'>
                          Entrar em Contato
                        </a>
                      </div>
                    </div>
                  </div>
                </div> -->
  