<div class="col-12">
    <div class="row case">
        <div class="col-lg-6 col-12 order-first bg-default img-case"></div>
        <div class="col-lg-6 col-12 infos v1 card-case ">
            <div class="borda">
                <p>Hospital Nossa Senhora da Conceição (Três Rios /RJ) - Parceria Light</p>
                <p> <a>Sistemas Eficienciatizados:</a>  Iluminação e Climatização </p>
                <p> <a>Economia de Energia:</a>   160,87 MWh/ano </p>   
                <p> <a>Economia de Demanda:</a>  36,83 kW </p> 
            </div>              
        </div>
    </div>
    <div class="row case">
        <div class="col-lg-6 col-12 card-case order-lg-first infos v1">
            <div class="txt-cases">
                <p>AACD (São Paulo/SP) – Parceria Enel SP</p>
                <p> <a>Sistemas Eficienciatizados:  </a>Iluminação,Climatização e Fotovoltaico </p>
                <p> <a>Economia de Energia: </a>1.217,40 MWh/ano  </p>  
                <p> <a>Economia de Demanda: </a>298,00 kW</p>  
            </div>
               
            <div class="borda v1"></div>
        </div>
        <div class="col-lg-6 col-12 order-first bg-default img-case"></div>
    </div>
    <div class="row case">
        <div class="col-lg-6 col-12 bg-default img-case"></div>
        <div class="col-lg-6 col-12 card-case infos v1">
            <div class="borda">
                <p>IP Cerejeiras (Cerejeiras/RO) Parceria Energisa Rondônia</p>
                <p> <a>Sistemas Eficienciatizados: </a> </p>
                <p> <a>Economia de Energia:</a> </p>
                <p> <a>Economia de Demanda:</a> </p>
            </div>                                
        </div>
    </div>
    <div class="row case">
        <div class="col-lg-6 col-12 card-case order-lg-first infos v1">
            <div class="txt-cases">
                <p>Ministério da Fazenda (Cuiabá/MT) Parceria Energisa Mato Grosso</p>
                <p> <a>Sistemas Eficienciatizados: </a>Iluminação e Climatização </p>
                <p> <a>Economia de Energia: </a>481,81 Mwh/ano </p>
                <p> <a>Economia de Demanda: </a>130,37 kW  </p> 
            </div>
             
            <div class="borda v1"></div>                        
        </div>
        <div class="col-lg-6 col-12 order-first bg-default img-case"></div>
    </div>
    <div class="row case">
        <div class="col-lg-6 col-12 bg-default img-case"></div>
        <div class="col-lg-6 col-12 card-case infos v1">
            <div class="borda">
                <p>Hospital Central da Aeronáutica (Rio de Janeiro/RJ) - Parceria LIGHT</p>
                <p> <a>Sistemas Eficienciatizados:</a>  </p>   
                <p> <a>Economia de Energia:</a>  </p>    
                <p> <a>Economia de Demanda:</a>  </p> 
            </div>              
        </div>
    </div>
    <div class="row case">
        <div class="col-lg-6 col-12 card-case order-lg-first infos v1">
            <div class="txt-cases">
                <p>Universidade São Francisco (Campinas e Itatiba/SP) – Parceria CPFL</p>
                <p> <a>Sistemas Eficienciatizados:</a>Iluminação </p>  
                <p> <a>Economia de Energia:</a> 282,31 MWh/ano</p>     
                <p> <a>Economia de Demanda:</a>113,95 kW </p>
            </div> 
            <div class="borda v1"></div>    
        </div>
        <div class="col-lg-6 col-12 order-first bg-default img-case"></div>
    </div>
</div>