@import "helpers";
@import "variables";
@import "components";

h1{
    @include media-breakpoint-up(lg) {
      padding: 0 200px 0 0; 
    }    
}
.img-quemsomos {    
    @include media-breakpoint-up(lg) {
        position: relative;
        left: 170px;
        top: -80px;
    }
}
.txt-experiencia {
    @include media-breakpoint-up(lg) {
        padding: 100px 0 80px 80px;
    }
    p {
        padding: 10px 80px 10px 0;
    }
}
