<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5 testando">
            <div class="row">
                <div class="col-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-6 col-12 order-lg-first">
                            <h1 class="title v1 text-left mt-5">Assesoria e Gestão de Energia e Sustentabilidade</h1>
                            <p class="mt-5">
                                A AGES Consultoria é uma empresa de engenharia que atua na área de eficiência energética, 
                                levando, aos seus clientes, soluções de economia de energia.
                            </p>
                            <p>
                                Entendemos que o mundo passa por uma transformação da forma de realizar negócios, onde a relação 
                                deve ser de ganha e ganha, ou seja, além dos parceiros de negócios terem seus ganhos, 
                                o meio ambiente, a sociedade, o mundo de forma geral também deve ganhar com o desenvolvimento do 
                                negócio criado.
                                Dentro desta visão de negócio, a AGES busca através de seu conhecimento e expertise, ser o elo 
                                entre empresas que entendem esta nova realidade de mercado e buscam formatar negócio dentro de 
                                segmentos e nichos atrativos para seu produto. 
                            </p>
                            <p>
                                A AGES Consultoria vem prestando serviços de engenharia especializada exclusivamente na área do uso 
                                racional e eficiente de energia, priorizando as áreas de Eficiência Energética e Pesquisa 
                                & Desenvolvimento. A AGES atua de forma cada vez mais integrada, propiciando aos seus clientes e 
                                parceiros soluções inteligentes e avançadas sob o ponto de vista tecnológico e empresarial. 
                                Sua atuação compreende a elaboração de projetos conceituais, o desenvolvimento de projetos executivos, 
                                implantação das obras necessárias e monitoramento dos resultados obtidos.
                            </p>
                        </div>
                        <div class="col-lg-6 col-12 order-first">
                            <img class="img-quemsomos" src="./assets/photos/quemsomos.png" alt="quemsomos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-default" style="background-image: url('./assets/backgrounds/bg-quem-somos.png');">
            <div class="row">                
                <div class="col-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-5 col-12 mt-2">
                            <img src="./assets/photos/experiencia.png" alt="experiencia">
                        </div>
                        <div class="col-lg-6 col-12 txt-experiencia">
                            <h2 class="title v1 text-left">Experiência</h2>
                            <p>
                                Com o conhecimento e expertise adquiridos ao longo de mais de 20 anos, a AGES 
                                busca através de sua capacidade maximizar os resultados de seus projetos, 
                                com a utilização correta dos recursos técnicos, financeiros e naturais, a 
                                fim de otimizar os resultados do projeto e não comprometer a possibilidade 
                                das gerações futuras de suprir as suas necessidades.
                            </p>
                            <p>
                                Fazer o simples de uma forma estruturada, correta e ética é o nosso desafio 
                                contínuo da AGES para seus projetos e o principal valor dos seus colaboradores 
                                internos e externos, além dos parceiros de negócios terem a satisfação de apoiar 
                                o meio ambiente, a sociedade e o mundo de forma geral com o desenvolvimento do negócio criado.	
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-green-light">
            <div class="row">                
                <div class="col-11 mx-auto text-center my-5">
                    <h2 class="title  my-5">Sustentabilidade</h2>
                    <div class="row">
                        <div class="col-lg-4 col-12 mx-auto">
                            <img src="./assets/icons/brasil.svg" alt="brasil">
                        </div>
                    </div>
                    <h3 class="title my-5">Para que um projeto seja sustentável é preciso que seja:</h3>
                    <div class="row">
                        <div class="col-lg-9 mx-auto">
                            <div class="row">
                                <div class="col-lg-2 col-6 mx-auto">
                                    <img src="./assets/icons/ecologico.svg" alt="ecologicamente-correto">
                                    <p class="title">Ecologicamente correto</p>
                                </div>
                                <div class="col-lg-2 col-6 mx-auto">
                                    <img src="./assets/icons/economico.svg" alt="economicamente-viavel">
                                    <p class="title">Economicamente viável</p>
                                </div>
                                <div class="col-lg-2 col-6 mx-auto">
                                    <img src="./assets/icons/social.svg" alt="socialmente-justo">
                                    <p class="title">Socialmente justo</p>
                                </div>
                                <div class="col-lg-2 col-6 mx-auto">
                                    <img src="./assets/icons/cultural.svg" alt="culturalmente-diverso">
                                    <p class="title">Culturalmente diverso</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>