<ngx-slick-carousel class="carousel mt-5"
    #slickModal="slick-carousel"
    [config]="clientesConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let cliente of clientes; let idx = index" class="slide" (click)="Slide(clientes)">
            <div class="img-clientes">
                <img [src]="cliente.logo" alt="cliente-logo">
            </div>
        </div>
</ngx-slick-carousel>
