@import "helpers";
@import "variables";
@import "components";


.solucao {
    background-color: $color-4;
    border-right: 2px solid $color-7;
    color: $color-2;
    cursor: pointer;
    outline: 0;
}
h2 {
    color: $color-4;
}
.txt-solucoes {
    padding: 150px 70px;
    @include media-breakpoint-down(md) {
        padding: 30px;
    }
}
.img-solucoes {
    position: relative;
    left: 115px;
    @include media-breakpoint-down(md) {
        left: 0;
    }
    &.v1 {
        left: -170px;
        @include media-breakpoint-down(md) {
            left: 0;
        }
    }    
}
.scroll-footer {
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.solucoes {
    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
    @include media-breakpoint-down(md) {
        padding: 100px 0 130px 0;
        border-radius: 0 0 100% 100%/100px;
        position: relative;
        left: 0;
        overflow: hidden;
    }
}
.infos {
    &.v1{
        @include media-breakpoint-down(md) {
            padding: 0 35px;
        }
        @include media-breakpoint-up(lg) {
            padding: 210px 70px;
        }
        @media only screen and (min-width: 1250px) and (max-width: 1344px) {
            padding: 290px 70px;
        }
        @media only screen and (min-width: 1680px) {
            padding: 300px 70px;
        }
        @media only screen and (min-width: 2560px) {
            position: absolute;
            top: 290px;
        }
    }
}

.elipse {
    background-color: $color-4;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    color: $color-2;
    font-size: 2.5em;
    padding: 15px 40px;
    position: relative;
    left: 30px;
 
    @include media-breakpoint-down(md) {
        height: 60px;
        padding: 0 17px;
    }
    @media only screen and (min-width: 1680px) {
        height: 130px;
        padding: 30px 50px;
    }
    
    @media only screen and (min-width: 2560px) {
        height: 180px;
        padding: 55px 85px;
    }
}

.processo::before {
    content: '';
        position: absolute;
        top: 140px;
        left: 100px;
        width: 80%;
        height: 2px;
        background-color: $color-4;
        @include media-breakpoint-down(md) {
            display: none;
        }
        @media only screen and (min-width: 1680px) {
            top: 150px;
            left: 120px;
        }
        
        @media only screen and (min-width: 2560px) {
            top: 170px;
            left: 180px;
        }
}
