<div class="container-fluid">
    <div class="row">
        <div class="col-12 solucoes bg-default" style="background-image: url('./assets/backgrounds/bg-solucoes.png');">
            <div class="row">
                <div class="col-lg-5 infos v1">
                    <h1 class="title text-left mb-3">Soluções</h1>
                    <p>
                        A AGES orienta, investe, implanta e auxilia seus clientes e parceiros sobre as melhores
                        soluções em energia elétrica, gás, combustível, renováveis e água, oferecendo diversas
                        soluções de redução de custos e colaborando para a difusão do uso sustentável dos recursos energéticos.
                    </p>
                </div>
            </div>
            <div class="col-lg-9 scroll-footer">
                <div class="row">
                    <div class="col-lg-3 solucao"
                        href="javascript:void(0)" routerLinkActive='active' [routerLink]="['/solucoes', {section:'eficiencia'}]">
                        <div class="row mt-3">
                            <div class="col-lg-3">
                                <img src="./assets/icons/icon-eficiencia.svg" alt="eficiência-energética">
                            </div>
                            <div class="col-lg-9">
                                <p class="title v2 bold">Eficiência Energética</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 solucao"
                        href="javascript:void(0)" routerLinkActive='active' [routerLink]="['/solucoes', {section:'gestao'}]">
                        <div class="row mt-4">
                            <div class="col-lg-3">
                                <img src="./assets/icons/icon-gestao.svg" alt="gestao-energia">
                            </div>
                            <div class="col-lg-9">
                                <p class="title v2 bold">Gestão de Energia e Sustentabilidade</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 solucao"
                        href="javascript:void(0)" routerLinkActive='active' [routerLink]="['/solucoes', {section:'energia'}]">
                        <div class="row">
                            <div class="col-lg-3 my-3">
                                <img src="./assets/icons/icon-energia.svg" alt="energia-renonvável">
                            </div>
                            <div class="col-lg-9 mt-4">
                                <p class="title v2 bold"> Energia Renovável</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 solucao"
                    href="javascript:void(0)" routerLinkActive='active' [routerLink]="['/solucoes', {section:'contrato'}]">
                        <div class="row">
                            <div class="col-lg-3 my-4">
                                <img src="./assets/icons/icon-contrato.svg" alt="contrato-performance">
                            </div>
                            <div class="col-lg-8 mt-3">
                                <p class="title v2 bold">Contrato de performance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5" style="overflow: hidden;">
            <div class="row">
                <div class="col-11 mx-auto">
                    <h2 class="title v1 text-uppercase">O Processo</h2>
                    <div class="row my-5 processo text-center">
                        <div class="col-2">
                            <div class="elipse bold">1</div>
                            <p class="mt-2">Levantamento de Dados</p>
                        </div>
                        <div class="col-2">
                            <div class="elipse bold">2</div>
                            <p class="mt-2">Diagnostico Energético</p>
                        </div>
                        <div class="col-2">
                            <div class="elipse bold">3</div>
                            <p class="mt-2">Proposta Técnica/Comercial</p>
                        </div>
                        <div class="col-2">
                            <div class="elipse bold">4</div>
                            <p class="mt-2">Contrato</p>
                        </div>
                        <div class="col-2">
                            <div class="elipse bold">5</div>
                            <p class="mt-2">Execução do Projeto</p>
                        </div>
                        <div class="col-2">
                            <div class="elipse bold">6</div>
                            <p class="mt-2">Confirmação dos Resultados de Economia</p>
                        </div>
                    </div>
                </div>
                <div class="col-11 mx-auto my-3" id="eficiencia">
                    <div class="row">
                        <div class="col-lg-6 col-12 order-lg-first txt-solucoes">
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/icon-eficiencia-green.svg" alt="">
                                </div>
                                <div class="col-lg-10 col-7">
                                    <h2>Eficiência Energética</h2>
                                </div>
                            </div>
                            <p>
                                Eficiência energética é uma necessidade estratégica para as empresa, as pessoas, o meio ambiente,
                                portanto para todos.
                            </p>
                            <p>
                                A adoção de soluções ou medidas eficientemente energéticas garante diretamente uma redução no
                                consumo dos energéticos e economia de custos!
                            </p>
                            <p>
                                 A AGES atua sinergicamente com seus parceiros e clientes na implantação de projetos nos
                                segmentos Industriais, Comerciais, Serviços e Público utilizando das melhores ferramentas,
                                produtos e “know-how” disponíveis no mercado mundial. elétrica, gás, combustível
                            </p>
                        </div>
                        <div class="col-lg-6 col-12 order-first">
                            <img class=" img-solucoes" src="./assets/photos/eficiencia.png" alt="eficiencia">
                        </div>
                    </div>
                </div>

                <div class="col-11 mx-auto my-3" id="gestao">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img class=" img-solucoes v1" src="./assets/photos/gestao.png" alt="gestao">
                        </div>
                        <div class="col-lg-6 col-12 txt-solucoes">
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/icon-gestao-green.svg" alt="">
                                </div>
                                <div class="col-lg-10 col-7">
                                    <h2>Gestão de Energia e Sustentabilidade</h2>
                                </div>
                            </div>

                            <p>
                                Na área de gestão de energia, ações de economia de energia e água trazem benefícios diretos e
                                indiretos as empresas, as pessoas e ao planeta, mas estes benefícios podem ser melhorados se
                                nos projetos também exista a inserção de soluções sustentáveis.
                            </p>
                            <p>
                                A gestão sustentável é a capacidade para dirigir o curso de uma empresa, comunidade ou país,
                                através de processos que valorizam e recuperam todas as formas de capital, humano, natural e
                                financeiro.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-11 mx-auto my-3">
                            <div class="row">
                                <div class="col-lg-5 col-12 mx-auto  my-3">
                                    <img src="./assets/photos/gestaoenergia.png" alt="gestao-energia">
                                </div>
                                <div class="col-lg-5 col-12 mx-auto  my-3">
                                    <img src="./assets/photos/sustentabilidade.png" alt="sustentabilidade">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-11 mx-auto my-3" id="energia">
                    <div class="row">
                        <div class="col-lg-6 col-12 order-lg-first txt-solucoes">
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/icon-energia-green.svg" alt="">
                                </div>
                                <div class="col-lg-10 col-7">
                                    <h2>Energia Renovável</h2>
                                </div>
                            </div>
                            <p>
                                Implantar geração de energia renovável (por exemplo, FOTOVOLTÁICO) é uma das soluções que a AGES
                                incorpora em seus projetos visando a redução de custos, a sustentabilidade do cliente e a garantia
                                de fornecimento de energia.
                                Os custos de geração de energia estão reduzindo e tornando
                                os projetos mais atrativos.
                                Entretanto antes de gerar energia, é importante reduzir o desperdício de energia, implantando
                                projetos de eficiência energética que tem menor tempo de retorno e tornam o projeto mais atrativo.
                            </p>
                        </div>
                        <div class="col-lg-6 col-12 order-first">
                            <img class=" img-solucoes" src="./assets/photos/energia.png" alt="energia">
                        </div>
                    </div>
                </div>

                <div class="col-11 mx-auto my-3" id="contrato">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <img class=" img-solucoes v1" src="./assets/photos/contrato.png" alt="contrato">
                        </div>
                        <div class="col-lg-6 col-12 txt-solucoes">
                            <div class="row">
                                <div class="col-lg-2 col-3">
                                    <img src="./assets/icons/icon-contrato-green.svg" alt="">
                                </div>
                                <div class="col-lg-10 col-7">
                                    <h2>Contrato de Performance</h2>
                                </div>
                            </div>
                            <p>
                                A AGES Consultoria trás ao projeto o investimento
                                necessário para a implantação do mesmo.
                                Para projetos implantados pela AGES, caso o cliente prefira, podemos aportar o capital
                                e ter o retorno do valor investido através das economias advindas do projeto.
                                Definimos conjuntamente qual a melhor formatação ao projeto e o melhor modelo de contrato.
                            </p>
                            <img src="./assets/photos/financiamento.png" alt="financiamento">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
