
.bg-default {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-green {
  background-color: $color-4;
}
.bg-green-light {
  background-color: $color-6;
}



.btn-ages {
      font-family: 'OpenSans-SemiBold';
      color: white;
      background-color: $color-3;
      border: 2px solid $color-3;
      padding: 15px 40px;
      border-radius: 10px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center;
      &:hover {
        color: $color-3;
        background-color: white;
        border-color: none;
      }

      &.v1 {
        background: transparent;
        color: $color-3;
        text-transform: uppercase;
        text-decoration: none;
        padding: none;

        &:hover {
            transform: scale(1.03);
            transition: all (500ms);
        }
    }
}

a {
  text-decoration: none;
  outline: none;
}

nav ul li {
  color: $color-2;
  &:hover {
      color: $color-5;
  }
}
img {
  // @include media-breakpoint-down(md) {
    width: 100%;
  // }
}

.title {
  color: $color-2;
  text-align: center;
  letter-spacing: 1px;
font-size: 2.3em;
  &.v1 {
    color: $color-6;
  }
  &.v2{
    font-size: 1em;
  }
}

.infos {
  text-align: center;
  p {
    color: $color-2;
  }
  &.v1 {
    text-align: left;
  }
}

.titulo-video {
  color: $color-4;
}

.descricao-video {
  @include media-breakpoint-up(lg) {
    padding: 20px;
  }
}

.scroll-footer {
  position: absolute;
  right: 0;
  bottom: 0;
}

.card {

  padding: 50px 30px 100px 30px;
  box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;

  @include media-breakpoint-up(lg) {
    margin: -130px 0 0 80px;

  }

  p{
    @include media-breakpoint-up(lg) {
     width: 80%;

    }
  }
}

.carousel{
  img{
    cursor: pointer;
  }
}

.cases {
  display: inline;
  color: $color-2;
  text-transform: uppercase;
  outline: 0;
  @include media-breakpoint-down(md) {
    padding: 10px;
  }
  &.active {
    color: $color-6;
    @include media-breakpoint-down(md) {
      border: 1px solid $color-6;
      border-radius: 5px;
    }
    @include media-breakpoint-up(lg) {
      &::before {
        content: '';
            position: absolute;
            top: 30px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-6;
      }
    }
  }
  &.v1 {
    color: $color-7;
    &.active {
      color: $color-6;
    }
  }
}

.case {
  @include media-breakpoint-down(md) {
    padding: 10px;
  }
}

.card-case {
  background-color: $color-6;
  @include media-breakpoint-down(md) {
    border-radius: 0 0  8px 8px ;
  }
  @include media-breakpoint-up(lg) {
    height: 50vh;

    .txt-cases{
      padding: 80px 50px;
    }

    .borda {
      background-color: $color-6;
      border-radius: 100% 0 0 100%/1000px;
      height: 50vh;
      margin: 0 0 0 -120px;
      padding: 80px 180px;

      &.v1 {
        background-color: $color-6;
        border-radius: 0 100% 100% 0;
        height: 50vh;
        width: 200px;
        position: absolute;
        right: -90px;
        top: 0;
        padding: 80px 0;
        z-index: 1;
      }
    }
  }
}
.light {
  font-family: 'OpenSans-Light';
}
.bold {
  font-family: 'OpenSans-Bold';
}
p {
  color: $color-7;
}

.ajuste-size{
  font-size: 18px;
  &.v1{
    p{
      font-size: 12px;
      img{
        width: 5%;
      }

    }

  }
}
