<div class="col-12 mt-5">
    <div class="row case">
        <div class="col-lg-6 col-12 order-first bg-default img-case"></div>
        <div class="col-lg-6 col-12 infos v1 card-case ">
            <div class="borda">
                <p>Hospital Nossa Senhora da Conceição (Três Rios /RJ) - Parceria Light</p>
                <p> <a class="bold">Sistemas Eficienciatizados:</a>  Iluminação e Climatização </p>
                <p> <a class="bold">Economia de Energia:</a>   160,87 MWh/ano </p>   
                <p> <a class="bold">Economia de Demanda:</a>  36,83 kW </p> 
            </div>              
        </div>
    </div>
    <div class="row case">
        <div class="col-lg-6 col-12 card-case order-lg-first infos v1">
            <div class="txt-cases">
                <p>AACD (São Paulo/SP) – Parceria Enel SP</p>
                <p> <a class="bold">Sistemas Eficienciatizados:  </a>Iluminação,Climatização e Fotovoltaico </p>
                <p> <a class="bold">Economia de Energia: </a>1.217,40 MWh/ano  </p>  
                <p> <a class="bold">Economia de Demanda: </a>298,00 kW</p>  
            </div>
               
            <div class="borda v1"></div>
        </div>
        <div class="col-lg-6 col-12 order-first bg-default img-case"></div>
    </div>
    <div class="row case">
        <div class="col-lg-6 col-12 bg-default img-case"></div>
        <div class="col-lg-6 col-12 card-case infos v1">
            <div class="borda">
                <p>IP Cerejeiras (Cerejeiras/RO) Parceria Energisa Rondônia</p>
                <p> <a class="bold">Sistemas Eficienciatizados: </a> </p>
                <p> <a class="bold">Economia de Energia:</a> </p>
                <p> <a class="bold">Economia de Demanda:</a> </p>
            </div>                                
        </div>
    </div>
</div>