@import "helpers";
@import "variables";
@import "components";


.img-case {
    background-image: url(../../../../assets/photos/exemplo.png);
    // height: 50vh;
    background-color: $color-6;
    @include media-breakpoint-down(md) {
        height: 30vh;
        border-radius: 8px 8px 0 0;
        // background-image: url(../../../../assets/photos/exemplo.png);
    }     
}