<div class="container-fluid">
    <div class="row">
        <div class="col-12 footer bg-default">
            <div class="row">
                <div class="col-lg-5 col-12 logo">
                    <div class="row">
                        <div class="col-lg-8 col-8 mx-auto">
                            <img src="./assets/logos/ages-logo-slogan.svg" alt="logo-ages">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-5 menu-footer">
                    <nav>
                        <ul>
                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/quemsomos'>
                                <li>Quem somos</li>
                            </a>
                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/solucoes'>
                                <li>Soluções</li>
                            </a>
                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/cases'>
                                <li>Cases</li>
                            </a>
                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/videos'>
                                <li>Vídeos</li>
                            </a>
                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/contato'>
                                <li>Contato</li>
                            </a>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-12 text-center infos">
                    <div class="row">
                        <div class="col-12">
                            <ngx-slick-carousel class="carousel  "
                                #slickModal="slick-carousel"
                                [config]="enderecosConfig">
                                    <div ngxSlickItem *ngFor="let endereco of enderecos; let idx = index" class="slide" (click)="Slide(endereco)">
                                        <div class="estado bold">
                                            {{ endereco.uf }}
                                        </div>
                                    </div>
                            </ngx-slick-carousel>
                            <div class="text-left ajuste-size v1">
                                <p> <img src="./assets/icons/placeholder.svg" alt="">{{ activeEnderecos.logradouro }}</p>
                                <p><img src="./assets/icons/placeholder.svg" alt="">{{ activeEnderecos.bairro }}</p>
                                <p><img src="./assets/icons/call-answer.svg" alt="">{{ activeEnderecos.telefone }}</p>
                                <p><img src="./assets/icons/close-envelope.svg" alt="">{{ activeEnderecos.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
