@import "helpers";
@import "variables";
@import "components";

.footer {

    background-image: url(../../../assets/backgrounds/bg-footer.png);
    height: 80vh;
    // background-color: transparent;
    @include media-breakpoint-down(md) {
        background-color: $color-4;
        background-image: none;
    }
}
.logo {
    @include media-breakpoint-down(md) {
        background-color: $color-5;
    }
    @include media-breakpoint-up(lg) {
        margin: 190px 0 0 -60px;
    }
}

.menu-footer {
    @include media-breakpoint-down(md) {
        display: none;
    }
    @include media-breakpoint-up(lg) {
        padding: 150px 80px 0 80px;
    }
}
nav ul li {
    padding: 10px 0;
}

.infos {
    @include media-breakpoint-up(lg) {
        margin: 230px 0 0 0;
    }
}

.estado{
    color: $color-2;
        padding: 10px;

    @include media-breakpoint-down(md) {
        padding: 50px 0;
    }
    &:hover {
        cursor: pointer;
        background-image: url(../../../assets/icons/elipse-light-blue.svg);
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: center;
        @include media-breakpoint-down(md) {
            background-size: 25%;
        }
    }
}
.slick-slide {
    outline: 0;
}
