@import "helpers";
@import "variables";
@import "components";

.home {
    @include media-breakpoint-up(lg) {
        height: 140vh;
    }
  }
.quemsomos {
    background: transparent;
    @include media-breakpoint-up(lg) {
        margin: 0 0 150px 0;
    }
}
.case {



}

.cases{
  cursor: pointer;
  font-family: 'OpenSans-Regular';
  color: $color-7;

}

.solucoes {
    padding: 100px 0;
}
.img-clientes {
    @include media-breakpoint-down(md) {
        padding: 0 5px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 20px;
    }
}
.img-bg {
    position: absolute;
    top: 320px;
    left: 0;
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.topo {
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 350px;
        padding: 50px 150px 50px 50px;
    }
    @include media-breakpoint-down(md) {
        margin: 300px 0 0 0;
        background-color: $color-2;
        border-radius: 50%/100px 10% 0 0;
        padding: 60px 20px;
    }
}
.img-logo {
    background-color: $color-8;
    @include media-breakpoint-up(lg) {
        margin: 100px 0 0 -35px;
    }
}

h1 {
    font-family: 'OpenSans-Bold';
    color: $color-9;
    font-size: 2em;
    letter-spacing: 1px;
    padding: 20px 20px 50px 0;
}
.clientes {
    margin: 100px 0 0 0;
}
.slick-slide {
        height: 45vh;
}
.curva {
    border-radius: 0 0 100% 100%/100px;
}
.botao {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.card-solucoes {
    color: $color-2;
    text-align: center;
    .info-solucoes {
        display: none;
        text-align: left;
        padding: 15px 0;
        p{
          color: $color-2;
          font-size: 14px;

        }
        a {
            text-transform: uppercase;
            color: $color-3;
            letter-spacing: 1px;
        }
    }
    @include media-breakpoint-up(lg) {
        cursor: pointer;
        padding: 10px 20px;
        height: 65vh;

    &:hover {
        background-color: $color-10;
        border-radius: 8px;
        animation-name: example;
        animation-duration: 5s;
        .info-solucoes{
            display: block;
        }
        @keyframes example {
        0% { text-align: center;}
        25% { text-align: left;}

        }
    }
    }
}
