<div class="container-fluid">
    <div class="row">
        <div class="col-12 home bg-defalt" style="background-image: url('./assets/backgrounds/bg-home.png');" >
            <div class="img-bg">
                <img src="./assets/backgrounds/bg-home-2.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 topo">
                    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="tituloConfig"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let t of titulo; let idx = index" class="slide" (click)="Slide(titulo)">
                                <div class="row">
                                    <div class="col-lg-3 col-6 ml-3">
                                        <div class="row">
                                            <a (click)="slickModal.slickPrev()" class="px-0">
                                                <img src="./assets/icons/arrow-left.svg" alt="">
                                            </a>
                                            <a (click)="slickModal.slickNext()" class="px-0 ml-2">
                                                <img src="./assets/icons/arrow-right.svg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="text-left">{{ t.title }}</h1>
                                <a [href]="t.link" class="btn-ages w-100">Entenda como funciona</a>
                            </div>
                    </ngx-slick-carousel>
                    <div class="row">
                        <div class="col-12 img-logo">
                            <img src="./assets/logos/logo.png" alt="logo-ages">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-4 col-12">
                </div>
                <div class="col-lg-8 col-12 quemsomos">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="card w-100">
                                <h2 class="title v1 light text-left">Quem Somos</h2>
                                <p class="mt-3">
                                    A AGES Consultoria é uma empresa de engenharia que atua na área de eficiência energética,
                                    levando, aos seus clientes, soluções de economia de energia.
                                </p>
                                <a href="javascript:void(0)" routerLinkActive='active'routerLink='/quemsomos'
                                    class="btn-ages mt-5 v1 w-75">Conheça mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-green ">
            <div class="row">
                <div class="col-11 mx-auto solucoes">
                    <h2 class="title my-2 light">Soluções</h2>
                    <div class="row">
                        <div class="col-lg-3 col-6 card-solucoes">
                            <div class="row mt-3">
                                <div class="col-lg-8 mx-auto">
                                    <img src="./assets/icons/eficiencia.svg" alt="eficiencia-energetica">
                                </div>
                            </div>
                            <div  class="bold mt-3 ajuste-size">Eficiência Energética</div>
                            <div class="info-solucoes">
                                <p>Chamada Pública de Projetos (PEE ANEEL)</p>
                                <p> Diagnóstico Financeiro e Implementação de Projetos</p>
                                <a class="mt-3" href="/solucoes"> Saiba Mais &rsaquo;</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 card-solucoes">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <img src="./assets/icons/gestao.svg" alt="gestao-energia">
                                </div>
                            </div>
                            <div class="bold mt-3 ajuste-size">Gestão de Energia <br> e Sustentabilidade</div>
                            <div class="info-solucoes">
                                <p>O Gerenciamento de recursos, custos e processos garantem a
                                    capacidade do atingimento de metas e objetivos.</p>
                                <a class="mt-3" href="/solucoes"> Saiba Mais &rsaquo;</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 card-solucoes">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <img src="./assets/icons/energia.svg" alt="energia-renovavel">
                                </div>
                            </div>
                            <div  class="bold mt-3 ajuste-size">Energia Renovável</div >
                            <div class="info-solucoes">
                                <p>
                                    Analisamos, estruturamos, projetamos e implementamos projetos de
                                    geração de energia renovável no país.
                                </p>
                                <a class="mt-3" href="/solucoes"> Saiba Mais &rsaquo;</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 card-solucoes">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <img src="./assets/icons/contrato.svg" alt="contrato-performance">
                                </div>
                            </div>
                            <div  class="bold mt-3 ajuste-size">Contrato de performance</div >
                            <div class="info-solucoes">
                                <p>
                                    Trazemos a solução financeira para nossos clientes que
                                    montarem conosco os projetos
                                </p>
                                <a class="mt-3" href="/solucoes"> Saiba Mais &rsaquo;</a>
                            </div>
                        </div>

                        <div class="col-10 mt-5 mx-auto botao">
                            <a href="javascript:void(0)" routerLinkActive='active'routerLink='/solucoes'
                                    class="btn-ages w-100">Ver todas soluções</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 clientes">
            <h2 class="title v1">Clientes</h2>
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <app-clientes></app-clientes>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0 text-center">
            <h2 class="title v1 my-5">Cases</h2>
            <div class="row m-0 p-0">
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="row ">
                        <div class="col-lg-3 col-4 cases v1" href="javascript:void(0)" routerLinkActive='active'routerLink='inicio'>
                            Todos
                        </div>
                        <div class="col-lg-2 col-4 cases  v1" href="javascript:void(0)" routerLinkActive='active'routerLink='comercio'>
                            Comércio
                        </div>
                        <div class="col-lg-2 col-4 cases  v1" href="javascript:void(0)" routerLinkActive='active'routerLink='servico'>
                            Serviço
                        </div>
                        <div class="col-lg-2 col-6 cases  v1" href="javascript:void(0)" routerLinkActive='active'routerLink='industria'>
                            Indústria
                        </div>
                        <div class="col-lg-3 col-6 cases  v1" href="javascript:void(0)" routerLinkActive='active'routerLink='servico-publico'>
                            Serviço Público
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-0 mx-0">
              <router-outlet></router-outlet>

            </div>


            <div class="row">
                <div class="col-lg-3 col-11 mx-auto text-center mt-3">
                    <div class="row">
                        <a href="javascript:void(0)" routerLinkActive='active'routerLink='/cases'
                        class="btn-ages v1 w-100">Ver todos cases</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-lg-4 mx-auto infos">
                                <h2 class="title v1 my-5">Vídeos</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 mx-auto cards-videos">
                    <div class="row">
                        <div class="col-lg-4 col-12 mt-3" *ngFor="let video of videos;">
                            <div class="row">
                                <div class="col-lg-12 col-6">
                                    <img [src]="video.video" alt="">
                                </div>
                                <div class="col-lg-12 col-6 descricao-video">
                                    <div class="titulo-video">{{ video.title }}</div>
                                    <p>{{ video.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-11 mx-auto text-center">
                    <div class="row">
                        <a href="javascript:void(0)" routerLinkActive='active'routerLink='/videos'
                         class="btn-ages v1 w-100">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


