<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-case">
            <div class="row">
                <div class="col-lg-4 mx-auto infos mt-5">
                    <h1 class="title">Cases</h1>
                    <p>
                        Mais de vinte anos de experiência, mais de mil projetos implantados pelo país.
                        Esta é a base da experiência da equipe AGES disponibilizada a seus clientes
                    </p>
                </div>
            </div>

            <div class="row">
                <div class=" col-lg-10 col-11 mx-auto my-5 text-center">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 col-4 cases" href="javascript:void(0)" routerLinkActive='active'routerLink='todos'>
                            Todos
                        </div>
                        <div class="col-lg-2 col-4 cases" href="javascript:void(0)" routerLinkActive='active'routerLink='comercio'>
                            Comércio
                        </div>
                        <div class="col-lg-2 col-4 cases" href="javascript:void(0)" routerLinkActive='active'routerLink='servico'>
                            Serviço
                        </div>
                        <div class="col-lg-2 col-6 cases" href="javascript:void(0)" routerLinkActive='active'routerLink='industria'>
                            Indústria
                        </div>
                        <div class="col-lg-2 col-6 cases" href="javascript:void(0)" routerLinkActive='active'routerLink='servico-publico'>
                            Serviço Público
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

