@import "helpers";
@import "variables";
@import "components";

.infos {
    @include media-breakpoint-down(md) {
      text-align: left;
    }
    a{
      font-family: 'OpenSans-Bold';
    }
}

.bg-case {
  background-color: $color-4;
  @include media-breakpoint-down(md) {
    border-radius: 0 0 100% 100%/100px;
  }
}


.cases{
  cursor: pointer;
}
