/* You can add global styles to this file, and also import other style files */
@import 'helpers';
@import 'variables';
@import 'components';

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./assets/fonts/OpenSans-Regular/open-sans-regular.eot');
  src: url('./assets/fonts/OpenSans-Regular/open-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
       url('./assets/fonts/OpenSans-Regular/OpenSans-regular.ttf') format('truetype'),
       url('./assets/fonts/OpenSans-Regular/OpenSans-regular.woff') format('woff'),
       url('./assets/fonts/OpenSans-Regular/open-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./assets/fonts/OpenSans-Bold/OpenSans-Bold.eot');
  src: url('./assets/fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('./assets/fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'),
       url('./assets/fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
       url('./assets/fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot');
  src: url('./assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg'),
       url('./assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype'),
       url('./assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'),
       url('./assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('./assets/fonts/OpenSans-Light/OpenSans-Light.eot');
  src: url('./assets/fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light') format('svg'),
       url('./assets/fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype'),
       url('./assets/fonts/OpenSans-Light/OpenSans-Light.woff') format('woff'),
       url('./assets/fonts/OpenSans-Light/OpenSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OpenSans-Regular';
}

.testando {
  overflow: hidden;
}

