@import "helpers";
@import "variables";
@import "components";

.video {
    padding: 100px 0 130px 0;
    border-radius: 0 0 100% 100%/100px;
    background: $color-4;
    position: absolute;
    left: 0;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        padding: 50px 20px;
    }
    @media only screen and (min-width: 2500px) {
        padding: 120px 0 180px 0;
    }
}

.infos {
    @include media-breakpoint-down(md) {
      text-align: left;
    }
}

.cards-videos {
    margin: 300px 0 50px 0;
}

.descricao-video {
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}