<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="video w-100">
                        <div class="row">
                            <div class="col-lg-4 mx-auto infos">
                                <h1 class="title">Vídeos</h1>
                                <p>
                                    Nas imagens abaixo buscamos mostrar rapidamente para você a competência, experiência e
                                    capacidade da AGES Consultoria em implantar projetos de eficiência energética.
                                    Venha fazer parte de uma parceria de sucesso conosco!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 mx-auto cards-videos">
                    <div class="row">
                        <div class="col-lg-4 col-12 mt-3" *ngFor="let video of videos;">
                            <div class="row">
                                <div class="col-lg-12 col-6">
                                    <img [src]="video.video" alt="">
                                </div>
                                <div class="col-lg-12 col-6 descricao-video">
                                    <div class="titulo-video">{{ video.title }}</div>
                                    <p>{{ video.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

